$green: #1ab087;
$darkGreen: darken($green, 5%);
$jungle: #2a9a78;
$gray: #43505a;
$light-gray: #bdbabb;
$blue-gray: #919ea7;
$white: #fefafa;
$midnight: #22303c;
$radius: 0.5rem;
$transition: all 0.3s linear;
$spacing: 0.25rem;
$phone-min: 320px;
$phone-max: 768px;
$desktop: 1024px;

$thin: 300;
$normal: 400;
$bold: 600;