*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  background-color: $light-gray;
}

h1 {
  text-transform: capitalize;
  margin-bottom: 16px;
  text-align: center;
  color: $white;
  font-weight: $thin;
  @include breakpoint(mobile) {
    margin-bottom: 30px;
    margin-top: 0;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $midnight;
  text-align: center;
  width: 600px;
  @include breakpoint(mobile) {
    padding: 50px;
    width: 400px;
  }
  padding: 40px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: $green;
  transition: 0.5s ease;
  &:hover {
    color: $darkGreen;
  }
}
.reset {
  margin-top: 75px;
  text-align: right;
  color: $green;
  @include breakpoint(mobile) {
    margin-top: 60px;
  }
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba($white, 0.5);
  transition: all 0.25s ease;
  backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
  .req {
    margin: 2px;
    color: $green;
  }
}

label.active {
  transform: translateY(40px);
  left: 2px;
  font-size: 14px;
  .req {
    opacity: 0;
  }
}

label.highlight {
  color: $white;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float: left;
    width: 48%;
    @include breakpoint(mobile) {
      width: 100%;
    }
    margin-right: 4%;
    &:last-child {
      margin: 0;
    }
  }
}

input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  background: none;
  background-image: none;
  border: 1px solid $light-gray;
  color: $white;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
  @include breakpoint(mobile) {
    width: 100%;
  }
  &:focus {
    outline: 0;
    border-color: $green;
  }
}

.success input {
  border-color: #2ecc71;
}

.error input {
  border-color: #e74c3c;
}

.field-wrap small {
  background-color: #eee;
  padding: 5px !important;
  border-radius: 0 !important;
  position: relative;
  display: inline-block !important;
  font-weight: $bold;
  bottom: -20px;
  @include breakpoint(mobile) {
    bottom: -20px;
  }
  visibility: hidden;
}

.field-wrap.error small {
  visibility: visible;
}

small:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #eee;
  position: absolute;
  top: -10px;
}

small {
  float: left;
}

textarea {
  border: 2px solid $light-gray;
  resize: vertical;
}

.email {
  margin-bottom: 5px;
  @include breakpoint(mobile) {
    margin-top: 35px;
  }
}

.name {
  @include breakpoint(mobile) {
    margin-bottom: -5px;
  }
}

.password {
  margin-top: 70px;
  margin-bottom: 10px;
  @include breakpoint(mobile) {
    margin-top: 60px;
  }
}
